.back {
  background-image: linear-gradient(to left, #fa7257, #fc63a7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.con {
  background-color: #fddddb;
  border-width: 0px;
  border-radius: 10px;
  height: 100px;
  width: 100px;
  text-align: center;
}

.con1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.con3 {
  margin-right: 30px;
  height: 500px;
}
.con4 {
  margin-left: 30px;
  height: 500px;
}

.but {
  height: 40px;
  width: 140px;
  border-radius: 10px;
  border-width: 0px;
  color: #dd1264;
}
